/* 
    Document   : styleIcon
    Created on : 31-ene-2013, 13:52:30
    Author     : ALEX BURGOS DIONICIO
    Description:
        Purpose of the stylesheet follows.
*/
.devolver{
    background-image:url(../images/img/devolver.png) !important;
}
.calculadora {
    background-image:url(../images/img/calculadora.jpg) !important;
}
.excel {
    background-image:url(../images/img/excel.png) !important;
}
.licencia {
    background-image:url(../images/img/licencia.png) !important;
}
.remove {
    background-image:url(../images/img/delete.png) !important;
}
.edit-grid {
    background-image:url(../images/img/edit.png) !important;
}
.logout {
    background-image:url(../images/img/nuevo.png) !important;
}
.nuevo {
    background-image:url(../images/img/nuevo.png) !important;
}
.clear {
    background-image:url(../images/img/clear.png) !important;
}
.edit-grid{
    background-image:url(../images/img/edit.png) !important;
}
.inactivo {
    background-image:url(../images/img/inactivo.png) !important;
}
.add {
    background-image:url(../images/img/add.png) !important;
}
.add2 {
    background-image:url(../images/img/add2.png) !important;
}
.delete{
    background-image:url(../images/img/delete.gif) !important;
}
.search {
    background-image:url(../images/img/search.png) !important;
}
.edit{
    background-image:url(../images/img/edit.png) !important;
}
.detail{
    background-image:url(../images/img/detail.png) !important;
}
.calendar{
    background-image:url(../images/img/calendar.png) !important;
}
.close{
    background-image:url(../images/img/close.png) !important;
}
.rol_add{
    background-image:url(../images/img/roles_add.png) !important;
.print{
    background-image:url(../images/img/print.png) !important;
}
.print1{
    background-image:url(../images/img/print1.png) !important;
}
.aceptar{
    background-image:url(img/aceptar.png) !important;
}
.user{
    background-image:url(../images/img/user.png) !important;
}
.save{
    background-image:url(../images/img/save.png) !important;
}
.save2{
    background-image:url(../images/img/save2.png) !important;
}
.modify{
    background-image:url(../images/img/modify.png) !important;
}
.document{
    background-image:url(../images/img/document.png) !important;
}
.document1{
    background-image:url(../images/img/document1.png) !important;
}
.previus{
    background-image:url(../images/img/previus.png) !important;
}
.report{
    background-image:url(../images/img/report.png) !important;
}
/* styles used for the cells */
.readonlycell { 
  background-color:#CCCCCC !important;
}
.coolcell { 
  background-image:url(../images/img/cellbck.jpg) !important;
}
.buscar { 
  background-image:url(../images/img/search.png) !important;
}
.ver { 
  background-image:url(../images/img/ver.png) !important;
}
.right { 
  background-image:url(../images/img/right.png) !important;
}


